{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <ul class="thumbnails list-unstyled">
            {% for board in boards %}
                <li class="col-md-3">
                    <div class="thumbnail">
                        <a class="link-box" href="{{ path('board_show', { 'id': board.id }) }}">
                            <div class="caption">
                                <h2>{{ board.title }}</h2>
                                <p>{{ board.description }}</p>
                            </div>
                        </a>
                        <div class="modal-footer">
                            <a href="{{ path('board_edit', { 'id': board.id }) }}" class="btn btn-info btn-block">edit</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}