.thumbnail {
  padding: 0;
  display: block;
}
.thumbnail a {
  text-decoration: none;
}
.thumbnail:hover {
  background-color: #fbfbfb !important;
  box-shadow: 0px 0px 10px 1px #c2c2c2;
}
.modal-footer {
  text-align: left;
}
