.thumbnail
  padding 0
  display block
  a
    text-decoration none;
  &:hover
    background-color #fbfbfb !important
    box-shadow 0px 0px 10px 1px #c2c2c2

.modal-footer
  text-align left

.clear
  clear both

.scroll-x
  overflow-x scroll

.liste
  width 300px
  display block
  float left

.list-group-item
  display block